.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.carouselTrack {
    display: flex;
    align-items: center; 
    position: relative;
    height: 85vh;
    background: no-repeat center center/cover;
    transition: 0.2s ease-in-out;
}
.carouselOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 0.8));
    pointer-events: none;
}

.carouselContentContainer{
    position: relative;
    z-index: 2;
}

.carouselContent {
    max-width: 45%; 
}

.movieTitle {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #FDFDFF;
}

.movieDescription{
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    color: #FDFDFF;
    margin-bottom: 15px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btnPlay {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    display: inline-flex; 
    align-items: center;
    gap: 8px;
    background-color: #029E98; 
    font-size: 1rem;
    font-weight: bold;
    color: #FDFDFF;
}

.btnPlay:hover {
    background-color: #02BCB5; 
}

.btnAdd {
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.1); 
    color: #B3B3B3;
    border: 1.5px solid  #B3B3B3;
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
    padding: 0; 
    justify-content: center; 
    font-size: 1.2rem;
}

.btnAdd:hover {
    border-color: #FDFDFF;
}

.dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0; 
    margin-left: 50%;
    text-align: center;
    padding-bottom: 45px;
    z-index: 2;
}

.carouselDots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 3; 
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #029E98;
}

@media (max-width: 768px) {
    .container {
          max-width: 768px; 
      }
    .carouselTrack {
        height: 60vh; 
    }
    .carouselContent {
        max-width: 55%; 
        margin-left: 15px;
    }
    
    .movieTitle {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .movieDescription{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    .btnPlay {
        padding: 8px 20px;
        gap: 6px;
        font-size: 0.9rem;
    }
    .btnAdd {
        width: 30px; 
        height: 30px;
        font-size: 1rem;
    }

    .carouselTrack{
        height: 75svh;
    }

    .carouselDots {
        gap: 6px;
    }
    
    .dot {
        width: 6px;
        height: 6px;
    }
    
  }