.container {
  
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  margin: 100px auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color:white
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.formContainer {
  padding: 20px;
  background-color: #172630;
  border-radius: 8px;
  width: 25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  font-size: 14px;
  color: white; /* Бичиж буй текстийн өнгө */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #02BCB5; 
}

.input::placeholder {
  color: #aaa; 
  font-style: italic;
}

.textarea {
  padding: 10px;
  font-size: 14px;
  color: white; /* Бичиж буй текстийн өнгө */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  resize: vertical;
  transition: border-color 0.3s;
}

.textarea:focus {
  border-color: #02BCB5;
}

.textarea::placeholder {
  color: #aaa; /* Placeholder текстийн өнгө */
  font-style: italic; /* Placeholder текстийг налуу болгох */
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #02BCB5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background: white;
  color: #02BCB5;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: green;
  text-align: center;
}

.tableWrapper {
  overflow-x: auto;
  margin-top: 16px;
  width: 50rem;
  
}
.sectionWrapper {
  display: flex;
  flex-direction: column;
}
.movieTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #17263070;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.movieTable th, .movieTable td {
  border: 1px solid #e0e0e0;
  padding: 8px 12px;
  text-align: center;
}
.movieTable th {
  background-color: #172630;
  font-weight: 600;
}
.posterImg {
  width: 60px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}
.actionBtn {
  margin: 0 4px;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  background: #02BCB5;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}
.actionBtn:hover {
  background: white;
  color: #02BCB5;
}