
.container {
    max-width: 400px;
    margin: 300px auto;
    padding: 20px;
    background: #07131c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ccc;
    position: 'relative' ;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: #172630;
    color: white;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #02BCB5;;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: #02BCB5;
  }
  
  .message {
    margin-top: 15px;
    font-size: 14px;
    color: red;
  }
  .closepopup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  .loginlink{
    color: #ccc;
    margin-top: 10px;
  }